<div class="container addon-container">
  <div
    class="row"
    style="display: flex; align-items: center; margin-bottom: 0px !important;"
  >
    <img src="assets/ESMART2.png" style="width: 25%; height: 25%;" />
  </div>
  <p class="ESMART-MAIN">
    ELECTRICAL SYSTEM MONITORING, ANALYTIC, AND REALTIME TRACKING
  </p>
  <br />
  <p class="select-text font700">*Please select your OPU</p>

  <div class="row">
    <div class="col s2 xl2 offset-xl2 offset-s2">
      <div class="content" style="height: 400px;">
        <div class="content-overlay"></div>
        <img style="margin-top: 90px;" class="" src="assets/C1.png" />
        <div class="content-details fadeIn-top">
          <a routerLink="/gts">
            <p class="opu glow font900 opu-text">CENTRAL</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col s2 m2 xl2">
      <div class="content" style="height: 400px;">
        <div class="content-overlay"></div>
        <img style="margin-top: 90px;" class="" src="assets/U7.png" />
        <div class="content-details fadeIn-top">
          <a routerLink="/angsi">
            <p class="opu glow font900 opu-text">ANGSI</p>
          </a>
          <hr class="opu-divider" />

          <a routerLink="/kumang">
            <p class="opu glow font900 opu-text">KUMANG</p>
          </a>

          <hr class="opu-divider" />
          <a routerLink="/baronia">
            <p class="opu glow font900 opu-text">BARONIA</p>
          </a>

          <hr class="opu-divider" />
          <a routerLink="/sogt">
            <p class="opu glow font900 opu-text">SOGT</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col s2 m2 xl2">
      <div class="content" style="height: 400px;">
        <div class="content-overlay"></div>
        <img
          style="
            /* height: 45%;
            width: 110%; */
            margin-top: 90px;
            /* display: flex;
            justify-content: center;
            margin-left: -10px; */
          "
          class=""
          src="assets/d.png"
        />
        <div class="content-details fadeIn-top">
          <a routerLink="/pcpsb">
            <p class="opu glow font900 opu-text">PCP</p>
          </a>
          <hr class="opu-divider" />
          <a routerLink="/prpcuf">
            <p class="opu glow font900 opu-text">PRPC UF</p>
          </a>

          <hr class="opu-divider" />
          <a routerLink="/mrcsb">
            <p class="opu glow font900 opu-text">MRC</p>
          </a>

          <hr class="opu-divider" />
          <a routerLink="/pcml">
            <p class="opu glow font900 opu-text">PCML</p>
          </a>

          <hr class="opu-divider" />
          <a routerLink="/pce">
            <p class="opu glow font900 opu-text">PCE</p>
          </a>

          <hr class="opu-divider" />
          <a routerLink="/mtbe">
            <p class="opu glow font900 opu-text">MTBE</p>
          </a>

          <hr class="opu-divider" />
          <a routerLink="/pcfk">
            <p class="opu glow font900 opu-text">PCFK</p>
          </a>

          <hr class="opu-divider" />
          <a routerLink="/abf">
            <p class="opu glow font900 opu-text">ABF</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col s2 m2 xl2">
      <div class="content" style="height: 400px;">
        <div class="content-overlay"></div>
        <img style="margin-top: 90px;" class="" src="assets/GAS.png" />
        <div class="content-details fadeIn-top">
          <a routerLink="/mlng">
            <p class="opu glow font900 opu-text">MLNG</p>
          </a>
          <hr class="opu-divider" />
          <a routerLink="/pgb">
            <p class="opu glow font900 opu-text">PGB</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
