<div class="container">
  <div class="row">
    <div class="col-5" style="text-align: center;">
      <p class="font900 text">Sorry, this content isn't available right now</p>
    </div>
  </div>
  <div class="row">
    <div class="cons-img">
      <img src="assets/construction.png" style="width: 30%;" />
    </div>
  </div>
  <!-- <div style="text-align: center;">
        <div class="h6 font300" style="color: white; font-size: 18px;">We're doing important maintenance work in this page and will be back shortly. We appolagize for any inconvenience caused. </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="h6 font300" style="color: white; font-size: 18px;">Click button homepage or you will be directed to Home Page in {{ count }}s..</div>
    </div>
    <div class="row mx-2" style="text-align: center;">
        <button class="button-home font900" routerLink="/home">
            GO TO HOMEPAGE
        </button>
    </div> -->

  <!-- <div
    class="grid-container"
    style="text-align: center; padding-left: 650px; padding-right: 650px;"
  >
    <div class="grid-item">
      <img src="assets/PETRONAS.png" style="width: 80%;" />
    </div>
    <div class="grid-item">
      <img src="assets/ESMART2.png" style="width: 120%; padding: 15px;" />
    </div>
  </div>
</div> -->
</div>
