<div class="header-main">
    <div style="width: 5%;">
        <a href="index.html" class="brand-logo">
            <img src="assets/PETRONAS.png" style="width:72px;height:75px;  padding-left: 10px; padding-top: 10px;" />
        </a>
    </div>  
    <div style="width: 85%;">
        <p class="glow-header" style="display: flex; justify-content: center;">ABF</p>
    </div>
    <div style="width: 10%;">
        <a href="index.html" class="waves-effect waves-light btn  "
        style=" background-color: rgba(71, 75, 74, 0.267); color: rgb(56, 176, 157); right: 0; margin-right: 10px; text-align: center;
        align-items: center; float: right;">
        <i class="material-icons right" (click)="logout()">power_settings_new
        </i> Log out</a>
    </div>
</div>