.text {
    font-size: 42px;
    color: white;
}

.cons-img {
    text-align: center;
}

.button-home {
    margin-top: 10px;
    border-radius: 7px;
    height: 4.3rem;
    width: 13rem;
    border: none;
    font-size: 16px;
    background-color: #00A19c;
    color: white;
    cursor: pointer;
}

